.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #a29f9e;
}

.list {
  display: flex;
  gap: 140px;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .list {
    flex-direction: row;
  }
}

.images {
  margin: 20px auto;
  font-size: 28px;
  text-decoration: none !important;
  width: 220px;
  border: none;
  align-self: center;
}

