@font-face {
    font-family: "leckerli-one-regular";
    src: url("../Fontes/leckerli-one-regular.ttf");
    }

.navbar { 
    display: flex;
    justify-content: space-between;
    background-color: #a29f9e;
}

.card-title {
    font-family: "leckerli-one-regular";
    color: #E6863A;
}

.card-dog {
    font-family: "leckerli-one-regular";
    color: #E6863A;
    font-size: 100px;
}

.fw-light {
    font-family: "leckerli-one-regular";
    color: #E6863A;
    font-size: 100px;
}

.card-pets {
    font-family: "leckerli-one-regular";
    color: #E6863A;
    font-size: 30px;
    text-align: center;
}

.background-color-none {
    background-color: unset !important;
}

.pet-image {
    align-self: center;
    height: 200px;
    width: 200px;
    margin-top: -90px;
}

.margin-card {
    margin-bottom: 101px;
}

.card-body {
    min-height: 280px;
}
